.expand-toggle-container {
    border-radius: 50%;
    background-color: rgb(232,45,67);
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  }
  
  .expand-toggle-container:hover {
    filter: opacity(0.9);
  }
  
  .expand-toggle-container:active {
    transform: translate(1px, 1px);
    box-shadow: 0 0 0 0;
  }
  .expand-toggle {
    width: 100%;
    height: 100%;
  }
  .expand-toggle.reversed {
    animation: reverse-spin 0.2s linear;
  }
  .expand-toggle.rotated {
    animation: spin 0.2s linear;
    transform: rotate(180deg);
  }
  .expand-toggle-shadow {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to { 
      transform: rotate(180deg);
    }
  }
  
  @keyframes reverse-spin {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0);
    }
  }