.services-container {
    padding-left: 15px;
    .services {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .email-service-form {
        &.hidden {
            display: none;
        }
        padding: 5px;
        width: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .input-group {
            display: flex;
            flex-flow: column;
        }
    }
}
.email-services {
    display: flex;
    .email-service-container {
        width: 250px;
        padding: 5px;
        margin: 5px;
        &.error {
            border: 1px solid red;
        }
    }
}

.rules-container {
    .rules {
        display: flex;
        .rule-form {
            width: 250px;
            padding: 5px;
            margin: 5px;
            &.error {
                border: 1px solid red;
            }
        }
    }
}

.input-group {
    border-bottom: 1px solid lightgrey;
}