@import 'colors';

.side-bar {
    position: absolute;
    top: 75px;
    left: 0;
    width: 250px;
    transition: 0.2s linear;

    &.open {
        transform: translateX(0px);
    }

    &.closed {
        transform: translateX(-200px);
    }
}

@keyframes expaned {
    to {
        transform: scale(1)
    }
    from {
        transform: scale(0.25)
    }
}


.side-bar-title-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 3px solid whitesmoke;
    padding-bottom: 10px;
    .side-bar-title {
        font-size: 20pt;
        font-weight: bold;
        display: block;
        margin-right: 10px;
    }
    .toggle-container {
        justify-content: flex-end;
        display: block;
        height: 45px;
        width: 45px;
    }

}

.side-bar-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    text-decoration: none;
    color: unset;
    font-size: 18pt;
    :hover, :visited {
        text-decoration: none;
        color: unset;
    }
    cursor: pointer;
    svg {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background: $primary;
        text {
            font-family: CavierDreams;
            font-size: 50pt;
            fill: $primary-content;
        }
    }
    span {
        display: block;
        padding-left: 10px;
    }
}

.side-bar-item + .side-bar-item {
    border-top: 1px solid grey;
}

