<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <link type="text/css" rel="stylesheet" href="css/general.css" />
    <link type="text/css" rel="stylesheet" href="css/topbar.css" />
    <link type="text/css" rel="stylesheet" href="css/sidebar.css" />
    <link type="text/css" rel="stylesheet" href="css/buttons.css" />
    <link type="text/css" rel="stylesheet" href="css/fonts.css" />
    <link type="text/css" rel="stylesheet" href="css/messages.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
